@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root{
  --primary-color:#FFFFFF;
  --secondary-color:#111;
}

.dark-theme{
 --primary-color:#111;
  --secondary-color:#FFFFFF; 
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.5s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

#myNav img{
  float: right;
  display: inline-block;
  padding: 1px 3px;
  height: 52px;
  width: 4vw;
  cursor: pointer;
  text-align: center;
  margin-top: 10%;
  margin-right: 2%;
  border:1px solid var(--primary-color);
  border-radius: 50%;
  z-index: 9999;
  transform: rotate(-30deg);
  transition: 0.6s ease;
}
#myNav img:hover{
  background:var(--primary-color);
   transform: rotate(330deg);
}

#myNav h5{
  float: right;
  margin-top: 10%;
  margin-right: 1%;
  color: #fff;
}

.scroll-down {
  height: 50px;
  width: 30px;
  border: 3px solid #fff;
  position: absolute;
  left: 48%;
  top: 92%;
  bottom: 20px;
  border-radius: 50px;
  cursor: pointer;
}
.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 40%;
  left: 50%;
  height: 8px;
  width: 2px;
  transform: translate(-50%, -100%);
  border: 2.2px solid #fff;
  border-radius: 40%;
  animation: scroll-down 1s ease-in-out infinite;
}


@keyframes scroll-down {
  0% {
    /* top:20%; */
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 60%;
    opacity: 1;
  }
}


footer{
  position: fixe;
  bottom: 0px;
  width: 100%;
 background: var(--primary-color);
  color: var(--secondary-color);
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
.left .content p{
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  color: var(--secondary-color);
  height: 40px;
  width: 40px;
  /*background: #111;*/
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 50%;
  border:1px solid var(--secondary-color);
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: var(--secondary-color);
  color:var(--primary-color);
  }
  .left .content .social a :nth-child(1):hover{
  color: #3b5999;
  }
  
  .left .content .social a :nth-child(2):hover{
  color:#e4405f;
  }
  
  .left .content .social a :nth-child(3):hover{
  color:red;
  }
  
  .left .content .social a :nth-child(4):hover{
  color:#0077B5;
  }
  
  
  

.center .content .fas{
  color: var(--secondary-color);
  font-size: 1.4375rem;
  /*background: #1a1a1a;*/
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  border:1px solid var(--secondary-color);
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: var(--secondary-color);
  color: var(--primary-color);
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}
.right form .msg{
  margin-top: 15px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background:  var(--primary-color);
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form textarea:focus{
  outline-color: #3498db;
}
.right form input{
  height: 35px;
  color:var(--secondary-color);
}
.right form .btn{
  margin-top: 20px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: none;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
  color: var(--secondary-color);
  border:1px solid var(--secondary-color);
}
.right form .btn button:hover{
  background: var(--secondary-color);
  color: var(--primary-color);
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span{
  color: #656565;
}
.bottom center a{
  color: #ffffff;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}
